* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Poppins;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a, li {
    list-style: none;
    text-decoration: none;
    color: #fff;
}
.rect {
    width: 100%;
    height: calc(100vh);
}


/* ------------------------------------------------    Logo */
.logo a{
    font-family: 'Times New Roman', serif;
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
    margin: 5px;
    position: fixed;
    left: 2%;
    top: 1%;
    z-index: 5;
}

.aboutMe {
    padding-top: 30px;
}
.linktoProfile {
    padding-left: 10px;
}

/* ------------------------------------------------    Wrapper Menu */
.wrapper-menu {
    z-index: 10;
    position: fixed;
    left: 96%;
    top: 2%;
    margin: 5px;
    width: 22px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);  
}
  
.line-menu {
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 3px;
}
.line-menu.half {
    width: 50%;
}
.line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}
.open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
}
.open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
} 

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

/* ------------------------------------------------    Wrapper Menu List */
.sidebar-list {
    padding-top: 170px;
}

.sidebar {
    z-index: 5;
    padding: 20px;
    overflow: auto;
    white-space: nowrap;
    height: 100vh;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    right: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    background-color: rgba(0, 0, 0, 0.67);
}

.sidebar-list li{
    opacity: 0;
    margin: 10px;
}

.sidebar-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(25px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* ------------------------------------------------    Move to TOP */
.moveToTop {
    background-color: rgba(34, 34, 34, 0.719);
    color: #fff;
    padding: 10px 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    right: calc(3% - 20px);
    bottom: calc(3.5% - 20px);
    text-align: center;
    justify-content: center;
    z-index: 1023;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

/* ------------------------------------------------    Starting_page */
.starting_page {
    background: url(./img/2020.jpg) no-repeat 50% 50%;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}



/* ------------------------------------------------    Second_page */
.second_page {
    color: #000;
    text-align: center;
    font-size: 1.8em;
    background: rgb(98 98 98);
    font-family: 'Reenie Beanie';
    background-size: cover;
    background-attachment: fixed;
}
.second_page h3:first-child{
    padding-top: 20%;
}


/* ------------------------------------------------    Home page - Slideshow */
.slideshow {
    position: relative;
    overflow: hidden;
    z-index: -3;
}

.slideshow-item {
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: cycleImages 20s infinite;
}

.slideshow-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 15s infinite;
}

.text {
    z-index: -1;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    color: rgb(230, 230, 230);
    text-align: center;
}

.text .allAbout {
    padding-top: 16%;
    font-size: 3em;
    font-family: 'Reenie Beanie';
    text-transform: capitalize;
    letter-spacing: 3px;
}

.text .A2020 {
    font-size: 8em;
    letter-spacing: 0.08em;
    font-family: 'Poppins', sans-serif;
}

.text .para2020 {
    padding-top: 0.3em;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Reenie Beanie';
    letter-spacing: 0.5px;
}

.slideshow-item:nth-child(1), .slideshow-item:nth-child(1) img{
    animation-delay: 0s;
}
.slideshow-item:nth-child(2), .slideshow-item:nth-child(2) img{
    animation-delay: 6s;
}
.slideshow-item:nth-child(3), .slideshow-item:nth-child(3) img{
    animation-delay: 11s;
}
.slideshow-item:nth-child(4), .slideshow-item:nth-child(4) img{
    animation-delay: 15s;
}
.slideshow-item:nth-child(5), .slideshow-item:nth-child(5) img{
    animation-delay: 20s;
}
.slideshow-item:nth-child(6), .slideshow-item:nth-child(6) img{
    animation-delay: 25s;
}
.slideshow-item:nth-child(7), .slideshow-item:nth-child(7) img{
    animation-delay: 30s;
}
.slideshow-item:nth-child(8), .slideshow-item:nth-child(8) img{
    animation-delay: 35s;
}
.slideshow-item:nth-child(9), .slideshow-item:nth-child(9) img{
    animation-delay: 40s;
}
.slideshow-item:nth-child(10), .slideshow-item:nth-child(10) img{
    animation-delay: 45s;
}
.slideshow-item:nth-child(11), .slideshow-item:nth-child(11) img{
    animation-delay: 50s;
}
.slideshow-item:nth-child(12), .slideshow-item:nth-child(12) img{
    animation-delay: 55s;
}
.slideshow-item:nth-child(13), .slideshow-item:nth-child(13) img{
    animation-delay: 60s;
}
.slideshow-item:nth-child(14), .slideshow-item:nth-child(14) img{
    animation-delay: 65s;
}
.slideshow-item:nth-child(15), .slideshow-item:nth-child(15) img{
    animation-delay: 70s;
}
.slideshow-item:nth-child(16), .slideshow-item:nth-child(16) img{
    animation-delay: 75s;
}
.slideshow-item:nth-child(17), .slideshow-item:nth-child(17) img{
    animation-delay: 80s;
}
.slideshow-item:nth-child(18), .slideshow-item:nth-child(18) img{
    animation-delay: 85s;
}
.slideshow-item:nth-child(19), .slideshow-item:nth-child(19) img{
    animation-delay: 90s;
}
.slideshow-item:nth-child(20), .slideshow-item:nth-child(20) img{
    animation-delay: 95s;
}
.slideshow-item:nth-child(21), .slideshow-item:nth-child(21) img{
    animation-delay: 100s;
}

@keyframes cycleImages {
    30% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}
@keyframes zoom {
    100% {
        transform: scale(1.25);
    }
}




/* ------------------------------------------------    Stories / News */
.stories {
    text-align: center;
    color: #fff;
    background-color: rgb(10, 10, 10);
}
h1 {
    font-size: 100px;
    font-weight: 200;
    font-family: 'Ruthie', cursive;
}


/* ------------------------------------------------    N1 */
#containerCovid{
    padding-left: 100px;
    margin: auto;
    max-width: 420px;
}
.n1 {
    position: relative;
    height: calc(100vh);
}
.n1 h3 {
    margin: 15px;
}
.n1 h1{
    padding: 90px 0 40px 0;
}
.img {
    width: 30%;
    height: 30%;
    box-shadow: 5px 10px 18px #000;
}
.n1 > img{
    position: absolute;
}
.C1 {
    left: 4%;
    top: 7%;
    transform: rotate(2.1deg);
    border: 8px solid #fff;
    z-index: 0;
    height: 350px;
    width: 470px;
}
.C2 {
    border: 8px solid #fff;
    transform: rotate(-4deg);
    left: 12%;
    top: 30%;
    height: 350px;
    width: 450px;
    z-index: 1;
}
.C3 {
    border: 8px solid #fff;
    transform: rotate(-4deg);
    left: 3%;
    top: 56%;
    z-index: 0;
    height: 350px;
    width: 550px;
}
.C4 {
    left: 71%;
    top: 7.5%;
    transform: rotate(3deg);
    border: 8px solid #fff;
    z-index: 1;
    height: 300px;
    width: 450px;
}
.C5 {
    left: 74%;
    top: 32%;
    transform: rotate(7deg);
    border: 11px solid #fff;
    z-index: 0;
    height: 600px;
    width: 320px;
}


/* ------------------------------------------------    N2 */
.n2 {
    margin: auto;
    max-width: 950px;
    align-items: center;
}
.img-slider {
    position: relative;
    width: 550px;
    margin: 22px auto;
    height: 320px;
}
.img-slider .slide {
    position: absolute;
    z-index: 1;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}

.img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 320px;
    border-radius: 5px;
}
.img-slider .navigation {
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
}
.img-slider .navigation .btn {
    background: rgba(255, 255, 255, 0.8);
    width: 10px;
    height: 10px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.img-slider .navigation .btn.active {
    cursor: pointer;
    background: rgba(11, 14, 207, 0.795);
}

.mapIused{
    margin: 30px;
}
.mapIused p {
    font-size: 15px;
}
.mapIused .carto-embed {
    position: relative;
    padding: 0;
}





.n5 span {
    font-family: Poppins;
    font-size: 80px;
}





/* ------------------------------------------------    Media - Queries */

@media screen and (max-width: 1600px) {
    .second_page h3:first-child{
        padding-top: 30%;
    }
}

@media screen and (max-width: 1440px) {
    #containerCovid{
        max-width: 360px;
        margin: auto;
    }
    .n1 h3 {
        margin: 10px;
    }
    .img {
        width: 20%;
        height: 20%;
        box-shadow: 5px 10px 18px #000;
    }
    .n1 > img{
        position: absolute;
    }
    .C1 {
        left: 4%;
        top: 14%;
        height: 210px;
        width: 330px;
    }
    .C2 {
        left: 5%;
        top: 30%;
        height: 220px;
        width: 310px;
    }
    .C3 {
        transform: rotate(4deg);
        left: 3%;
        top: 55%;
        height: 250px;
        width: 350px;
    }
    .C4 {
        left: 70%;
        top: 15%;
        height: 200px;
        width: 300px;
    }
    .C5 {
        left: 72%;
        top: 40%;
        height: 460px;
        width: 250px;
    }   
}

@media screen and (max-width: 1024px) {
    .wrapper-menu {
        left: 94%;
    }
    .sidebar-list {
        padding-top: 240px;
    }
    .logo a, .second_page {
        font-size: 1.5em;
    }
    .second_page h3:first-child{
        padding-top: 50%;
    }
    .text .A2020 {
        font-size: 6em;
    }
    .text .allAbout{
        font-size: 3em;
        padding-top: 50%;
    }
    .text .para2020{
        font-size: 1.3rem;
    }
    .moveToTop {
        width: 22px;
        height: 22px;
        right: calc(4.4% - 20px);
        bottom: calc(4% - 20px);
    }
    
    #containerCovid{
        position: absolute;
        max-width: 380px;
        padding-left: 80px;
    }
    .C1 {
        left: 60%;
        top: 13%;
        height: 181px;
        width: 285px;
        transform: rotate(-2deg);
    }
    .C2 {
        left: 62%;
        top: 28%;
        height: 173px;
        width: 253px;
        transform: rotate(3deg);
    }
    .C3 {
        left: 62%;
        top: 46%;
        height: 175px;
        width: 260px;
        transform: rotate(-5deg);
    }
    .C4 {
        left: 62%;
        top: 65%;
        height: 175px;
        width: 252px;
        transform: rotate(0deg);
    }
    .C5 {
        display: none;
    }

    .n2 {
        max-width: 520px;
    }
    .n2 h1 {
        font-size: 90px;
    }
    .mapIused {
        margin: 25px 60px;
    }
    .mapIused p {
        font-size: 12px;
    }
}


@media screen and (max-width: 770px) {
    .wrapper-menu {
        left: 92%;
    }
    .logo a, .second_page {
        font-size: 1.4em;
    }
    .second_page h3:first-child{
        padding-top: 52%;
    }
    .text .A2020 {
        font-size: 5em;
    }
    .text .allAbout{
        font-size: 2em;
        padding-top: 52%;
    }
    .text .para2020{
        font-size: 0.7rem;
    }
    .sidebar-list {
        padding-top: 115px;
    }
    .sidebar {
        width: 100%;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.952);
    }
    .moveToTop {
        width: 18px;
        height: 18px;
        right: calc(6.5% - 20px);
        bottom: calc(5% - 20px);
    }

    #containerCovid{
        position: relative;
        margin: auto;
        max-width: 420px;
        padding: 20px;
    }
    .C1, .C2, .C3, .C4, .C5 {
        display: none;
    }

    .n1 h1 {
        font-size: 85px;
        padding: 10px 0 25px 0;
    }
    p {
        font-size: 17px;
    }

    .n2 {
        max-width: 425px;
    }
    .n2 h1 {
        font-size: 60px;
    }
    
    .img-slider {
        width: 320px;
        height: 200px;
    }
    .img-slider .slide img{
        height: 200px;
    }
    .img-slider .navigation .btn {
        width: 7px;
        height: 7px;
        margin: 7px;
    }    
    .mapIused{
        margin: 20px 0;
    }
    .mapIused p {
        font-size: 12px;
    }
    .CDB-Widget-body {
        padding: 0px;
    }

    .CDB-Dashboard-canvas {
        height: 55%;
    }
    
    #carto-frame-newsspec-26083-app {
        height: 320px;
    }
    .carto-container{
        width: 320px;
    }
}

@media screen and (max-width: 426px){
    .wrapper-menu {
        left: 90%;
        top: 1.5%;
    }
    .logo a, .second_page {
        font-size: 1.2em;
    }
    .second_page h3:first-child{
        padding-top: 75%;
    }
    .text .A2020 {
        font-size: 4.5em;
    }
    .text .allAbout{
        padding-top: 60%;
        font-size: 1.8em;
    }
    .sidebar-list {
        padding-top: 60px;
    }
    .moveToTop {
        width: 18px;
        height: 18px;
        right: calc(8% - 20px);
        bottom: calc(5% - 20px);
    }

    #containerCovid{
        max-width: 400px;
        padding: 20px;
    }
    .n1 h1 {
        margin-top: 25px;
        padding: 5px 0 5px 0;
    }
    h1 {
        font-size: 70px;
    }
    p {
        font-size: 15px;
    }


    .n2 {
        max-width: 320px;
    }
    .n2 h1 {
        margin-top: 25px;
        font-size: 50px;
    }  
    .mapIused{
        margin: 20px 0;
    }
    .mapIused p {
        font-size: 12px;
    }
    .CDB-Widget-body {
        padding: 0px 0;
    }

    .CDB-Dashboard-canvas {
        height: 85%;
    }

    
}

@media screen and (max-width: 325px){
    .moveToTop {
        width: 16px;
        height: 16px;
        right: calc(9.5% - 20px);
        bottom: calc(5.5% - 20px);
    }
    .wrapper-menu {
        left: 88.5%;
        top: 1.5%;
    }
    .sidebar-list {
        font-size: 15px;
        padding-top: 50px;
    }
    p {
        font-size: 13px;
    }
    #containerCovid {
        max-width: 300px;
        padding: 25px;
    }
    .n1 h1 {
        font-size: 60px;
    }
    .n2 {
        max-width: 300px;
    }
    .n2 h5 {
        display: none;
    }
    .img-slider {
        margin: 20px auto;
        width: 270px;
        height: 185px;
    }
    .img-slider .slide img{
        height: 180px;
    }
    .img-slider .navigation .btn {
        width: 7px;
        height: 7px;
        margin: 7px;
    }
    .mapIused {
        display: none;
    }
}